/* CSS BROWSER RESET STYLESHEET BEGINS */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* CSS BROWSER RESET STYLESHEET ENDS */



/* Joseph DeFelice Code Begins */
* {
    text-decoration: none;
}

main {
    padding-top: 100px;
}

/* HEADER STYLE BEGINS */
header {
    background-color: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    
}

header .header-brand {
    font-family: 'Catamaran';
    font-size: 24px;
    font-weight: 900;
    color: #111;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li{
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}


header nav ul li a{
    font-family: 'Catamaran';
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
}

header .header-contact {
    display: none;
}
/* HEADER STYLE ENDS */


/* HERO STYLE BEGINS */

.index-hero {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../image/joey.jpg.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.index-hero h2 {
    font-family: Catamaran;
    font-size: 60px;
    color: #fff;
    text-align: center;
    line-height: 65px;
    font-weight: 900;
    text-shadow: 3px 3px 8px #111;
    padding-top: 8px;
}

.index-hero h1 {
    font-family: Cormorant Garamond;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    line-height: 33px;
    color: #FFF;
    text-align: right;
    width: 200px;
    text-shadow: 3px 3px 8px #111;
}

.hero-info {
    position: absolute;
    bottom: 3px;
    right: 10px;
}
/* HERO STYLE ENDS */


/* BUTTON STYLE STARTS */
.index-button div {
    margin: 16px;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f3f3f3;
}

.index-button div h3 {
    font-family: Catamaran;
    font-size: 30px;
    font-weight: 400;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

/* BUTTON STYLE ENDS */


/* PORTFOLIO STYLE BEGINS */
.portfolio-links {
    overflow: hidden;
    margin-bottom: 20px;
}

.portfolio-links h2 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-transform: uppercase;
}

.portfolio-links .wrapper div {
    float: left;
    width: 230px;
    height: 230px;
    margin: 20px 10px 0px;
    background-color: #f3f3f3;
}

.portfolio-links .wrapper div p {
    line-height: 230px;
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 600;
    line-height: 230px;
    text-align: center;
    color: #111;
    text-transform: uppercase;
}

.rb-rectangle-button, .h-rectangle-button {

}

/* FOOTER STYLE STARTS */
footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: 'Catamaran';
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    vertical-align: middle;
}

.footer-sm {
    width: 45px;
    float: right;
}

.footer-sm img{
    width: 100%;
    margin-bottom: 10px;
}
/* FOOTER STYLE ENDS */


/* DESKTOP STYLE BEGINS */
@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    /* HEADER STYLE BEGINS */
    header .header-brand {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0 20px 0 40px;
        border-right: 3px solid #111;
        float: left;
    }

    header nav ul{
        margin: 20px 0 0 20px;
        float: left;
    }
    
    header nav ul li{
        padding: 0 16px;
    }
    
    header nav ul li a{
        line-height: 60px;
    }

    .contact {
        display: none;
    }

    header .header-contact {
        display: block;
        font-family: Catamaran;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }
    /* HEADER STYLE ENDS */

    /* HERO STYLE BEGINS */
    .index-hero {
        height: 450px;
    }

    .index-hero h2 {
        text-align: left;
        padding: 20px 85px;
    }
    
    .index-hero h1 {
        width: 280px;
        font-size: 27px;
    }
    
    .hero-info {
        bottom: 580px;
        right: 10px;
    }
    /* HERO STYLE ENDS */

    /* BUTTON STYLE BEGINS */
    .index-button {
        overflow: hidden;
    }

    .index-button div {
        margin: 20px 10px 0;
        height: 240px;
        float: left;
    }

    .index-button div:hover {
        background-color: rgba(175, 175, 175, 0.3);
        box-sizing: border-box;
        border: 1.5px solid rgba(137, 137, 137, 0.5);
    }

    .rectangle-button {
        width: calc(70% - 20px) !important;
    }
    .square-button {
        width: calc(30% - 20px) !important;
    }

    .index-button div h3 {
        line-height: 230px;
    }
    /* BUTTON STYLE ENDS */
    
    .portfolio-links .wrapper div:hover {
        background-color: rgba(175, 175, 175, 0.3);
        box-sizing: border-box;
        border: 1.5px solid rgba(137, 137, 137, 0.9);
        background-size: cover;
    }
    
    .p-square-button {
        width: calc(25% - 20px) !important;
    }

    .rb-rectangle-button, .h-rectangle-button {
        width: calc(50% - 20px) !important;
    }

    .rb-rectangle-button:hover{
        background-image: url(../image/run-buddy.PNG);   
    }

    .h-rectangle-button:hover{
        background-image: url(../image/horiseon.PNG);
    }
}
/* DESKTOP STYLE ENDS */
